
<button class="btn" style="background-color: #FFA308;" (click)="abrirModal()">Eliminar</button>


<div class="modal fade" id="confirmacionModal" tabindex="-1" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border-color: #FFA308;">
      <div class="modal-header">
        <h4 class="modal-title text-center w-100" id="confirmacionModalLabel">Confirmar <em style="color: #FFA308;">Eliminación</em></h4>
        <button type="button" class="btn-close" (click)="cerrarModal()" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body text-center">
        <p>¿Estás seguro de que deseas eliminar este elemento?</p>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
        <button type="button" class="btn" (mouseenter)="hover = true" (mouseleave)="hover = false" [ngStyle]="{'background-color': hover ? '#f2f3f4' : '#FFA308'}" (click)="confirmarEliminacion()">
          <span [ngStyle]="{'color': hover ? '#FFA308' : '#000000'}">Eliminar</span>
        </button>
      </div>
    </div>
  </div>
</div>