# Compiled output (Angular)
frontend/app_edelmiro_monros/dist/
frontend/app_edelmiro_monros/tmp/
frontend/app_edelmiro_monros/out-tsc/
frontend/app_edelmiro_monros/bazel-out/

# Node
frontend/app_edelmiro_monros/node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Miscellaneous
frontend/app_edelmiro_monros/.angular/cache
.sass-cache/
frontend/app_edelmiro_monros/connect.lock
frontend/app_edelmiro_monros/coverage/
frontend/app_edelmiro_monros/libpeerconnection.log
frontend/app_edelmiro_monros/testem.log
frontend/app_edelmiro_monros/typings/

# System files
.DS_Store
Thumbs.db

### Symfony ###
backend/EdelmiroMonros/.env.local
backend/EdelmiroMonros/.env.local.php
backend/EdelmiroMonros/.env.*.local
backend/EdelmiroMonros/config/secrets/prod/prod.decrypt.private.php
backend/EdelmiroMonros/public/bundles/
backend/EdelmiroMonros/var/
backend/EdelmiroMonros/vendor/
backend/EdelmiroMonros/node_modules/

### PHPUnit ###
backend/EdelmiroMonros/phpunit.xml
backend/EdelmiroMonros/.phpunit.result.cache

### Symfony PHPUnit Bridge ###
backend/EdelmiroMonros/.phpunit.result.cache
backend/EdelmiroMonros/phpunit.xml

### Symfony Asset Mapper ###
backend/EdelmiroMonros/public/assets/
backend/EdelmiroMonros/assets/vendor/
