<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <app-header></app-header>
      <div class="ms-auto">
        @if (!authService.getIsAdmin()) {
          <button class="btn btn-primary" (click)="authService.openModal()">
            Iniciar Sesión
          </button>
        } @else {
          <button class="btn btn-outline-primary" (click)="authService.logout()">
            Cerrar Sesión
          </button>
        }
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
<app-footer></app-footer>
<app-login></app-login>
