
<div class="container-fluid mt-3">
    <div class="card" >
      <img class="card-img-top"  [ngStyle]="{'background-image': 'url(' + photo + ')'}" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">{{Nombre}}</h4>
        <p class="card-text">{{valoracion}}</p>
        <p class="card-text">{{fecha}}</p>
        <p class="card-text">{{comentario}}</p>
        <button class="btn btn-sm btn-outline-primary" (click)="editarNoticia()">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-sm btn-outline-danger" (click)="eliminarNoticia()">
          <i class="bi bi-trash"></i>
          </button>
      </div>
      </div>
    </div>
