<div class="container-fluid">
  <footer class="py-5 bg-body-tertiary">
    <div class="row">
      <div
        class="d-flex justify-content-center col-12 col-md-3 ms-md-5 mb-md-0 mb-3"
      >
        <img
          src="logos/Logo Corporativo.jpg"
          alt="Logo Corporativo Edelmiro Monros"
          width="180px"
        />
      </div>
      <div
        class="d-flex flex-column align-items-center col-12 col-md-3 offset-md-1 mb-3"
      >
        <h5>Información de la Tienda</h5>
        <p class="text-body-secondary mb-2">
          <a
            href="https://maps.app.goo.gl/bp62iQBkFhFfNv1n8"
            class="text-body-secondary text-decoration-none"
            target="_blank"
            rel="noopener"
            >C/ Valencia 34 bajo</a
          >
        </p>
        <p class="text-body-secondary mb-2 text-decoration-none">
          Alboraya, Valencia, España
        </p>
        <p class="text-body-secondary mb-2">
          <a
            href="tel:+34676565833"
            class="text-body-secondary text-decoration-none"
            >676 56 58 33</a
          >
        </p>
        <p class="text-body-secondary mb-2">
          <a
            href="mailto:edelmiromonros@gmail.com"
            class="text-body-secondary text-decoration-none"
            >edelmiromonros&#64;gmail.com</a
          >
        </p>
      </div>

      <!-- TODO: Añadir navegacion a pantalla/views de seccion de Politicas -->
      <div class="d-flex flex-column align-items-center col-12 col-md-2 mb-3">
        <h5>Politicas</h5>
        <ul class="nav flex-column text-center">
          <li class="nav-item mb-2">
            <a href="#" routerLink="/aviso"
             class="nav-link p-0 text-body-secondary">Aviso Legal</a>
          </li>
          <li class="nav-item mb-2">
            <a  href="#" routerLink="/privacidad"
             class="nav-link p-0 text-body-secondary"
              >Política de privacidad</a
            >
          </li>
          <li class="nav-item mb-2">
            <a  href="#" routerLink="/cookies"
            class="nav-link p-0 text-body-secondary"
              >Política de cookies</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" routerLink="/accesibilidad"
             class="nav-link p-0 text-body-secondary"
              >Accesibilidad</a
            >
          </li>
        </ul>
      </div>

      <div class="d-flex flex-column align-items-center col-12 col-md-1 mb-3">
        <h5>Ayuda</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a
              href="#"
              routerLink="/contacto"
              class="nav-link p-0 text-body-secondary"
              >Contacto</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="row py-4 my-4 border-top border-black">
      <div class="col-12 text-center col-md-5 ms-md-5 text-md-start">
        <p>© 2025 Edelmiro Monrós. Todos los derechos Reservados.</p>
      </div>

      <div class="col-12 col-md-4 offset-md-2">
        <ul
          class="list-unstyled d-flex justify-content-center justify-content-md-start"
        >
          <li class="ms-3">
            <a
              class="link-body-emphasis"
              title="Instagram URL Icon"
              href="https://www.instagram.com/edelmiromonros/"
              ><i class="bi bi-instagram fs-3"></i
            ></a>
          </li>
          <li class="ms-3">
            <a
              class="link-body-emphasis"
              title="Facebook URL Icon"
              href="https://www.facebook.com/people/Edelmiro-Monr%C3%B3s/100090695510861/"
              ><i class="bi bi-facebook fs-3"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
