<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="apiUrl+foto" class="img-fluid rounded-start" [alt]="titulo">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title">{{titulo}}</h5>
          <div class="btn-group">
            <button class="btn btn-sm btn-outline-primary" (click)="editarNoticia({ id, titulo, descripcion, fecha, usuario, foto })">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="eliminarNoticia()">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
        <p class="card-text">{{descripcion}}</p>
        <p class="card-text"><small class="text-muted">Fecha: {{formatearFecha(fecha)}}</small></p>
      </div>
    </div>
  </div>
</div>
