<div class="container mt-4">
  <h1 class="text-center">Noticias</h1>
  @if (isAdmin$ | async) {
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary" (click)="agregarNoticia()">
      <i class="bi bi-plus-lg"></i> Añadir Noticia
    </button>
  </div>
  }
  <div class="row g-4">
    @for (noticia of noticias; track noticia.id) {
    <div class="col-12">
      <app-card-noticias
        [titulo]="noticia.titulo"
        [descripcion]="noticia.descripcion"
        [foto]="noticia.foto"
        [fecha]="noticia.fecha"
        (onEliminar)="eliminarNoticia(noticia.id)"
      >
      </app-card-noticias>
    </div>
    }
  </div>
</div>
