.card {
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
}

.btn-custom {
  padding: 0.5rem 1rem;
  background-color: rgb(255, 170, 0);
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-fluid {
  height: 100%;
  object-fit: cover;
}
