<div class="card h-100">
    <div class="card-img-top" [title]="title" 
         [ngStyle]="{ 'background-image': 'url(' + photo + ')', 'background-size': 'cover', 'height': '400px' }">
    </div>
    <div class="card-body">
        <h5 class="card-title" [title]="title">{{ title }}</h5>
        @if (isAdmin$ | async) {
            <div class="d-flex gap-2">
                <button class="btn btn-outline-primary" (click)="editarProducto()">
                    <i class="bi bi-pencil"></i>
                </button>
                <button class="btn btn-outline-danger" (click)="confirmarEliminar()">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        }
   
        @if (isExpanded) {
            <div class="expanded-content mt-3">
                <p>{{ text }}</p>
                <p>{{ price }}€</p>
            </div>
        }
        <button class="btn btn-primary mt-2" (click)="expand()">
            @if (isExpanded) {
                Ver menos
            } @else {
                Ver más
            }
        </button>
    </div>
</div>

<app-confirm-modal
    [showModal]="showConfirmModal"
    (onConfirm)="eliminarProducto()"
    (onCancel)="cancelarEliminar()">
</app-confirm-modal>
