<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-center">Nuestros clientes</h1>
    <button class="btn btn-primary" (click)="agregarNoticia()">
      <i class="bi bi-plus-lg"></i> Añadir Cliente
    </button>
  </div>
  
  <app-card-cliente 
    [Nombre]="Nombre" 
    [photo]="photo" 
    [valoracion]="valoracion" 
    [comentario]="comentario" 
    [fecha]="fecha"  
    (onEliminar)="eliminarNoticia()">
  </app-card-cliente>
</div>
