<div class="container py-5">
  <div class="row g-4">
    @for (persona of personas.slice(0, vista); track persona.autor) {
      <div class="col-md-3 mb-4"> 
        <app-card-cliente
          [Nombre]="persona.autor" 
          [comentario]="persona.comentario" 
          [valoracion]="persona.calificacion" 
          [fecha]="persona.fecha"
          (valoracionChange)="actualizarValoracion($index, $event)">
        </app-card-cliente>
      </div>
    }
  </div>

  @if (vista < personas.length) {
    <div class="text-center mt-4">
      <button class="btn btn-secondary" (click)="cargarMasResenas()">Cargar más reseñas</button>
    </div>
  }

  <div class="text-center mt-4">
    <button class="btn btn-secondary" 
      onclick="window.location.href='https://www.google.com/search?sa=X&sca_esv=16f93cd1d0831795&tbm=lcl&sxsrf=AHTn8zqFFCeWZ8nt5s-eSwG05bURthhGsQ:1739777214840&q=Edelmiro%20Monr%C3%B3s%20-%20Fabricante%20de%20mallas%2C%20mo%C3%B1os%20y%20rodetes%20para%20fallera%20Rese%C3%B1as&rflfq=1&num=20&stick=H4sIAAAAAAAAAONgkxI2NLI0MTI2NzOwMDEyNzaxMDAy3cDI-IrR3zUlNSc3syhfwTc_r-jw5mIFXQW3xKSizOTEvJJUhZRUhdzEnJzEYh2F3PzDG_OLFSoVivJTUktSixUKEosSFdKAsqlAOii1OPXwxsTiRazUNhEAdegvL74AAAA&rldimm=1294237608427348025&hl=es-ES&ved=0CA0Q5foLahcKEwj47riXl8qLAxUAAAAAHQAAAAAQCg&biw=1366&bih=641&dpr=1#lkt=LocalPoiReviews&arid=ChZDSUhNMG9nS0VJQ0FnTUNBdE1MMEp3EAE'">
      Ver más en Google
    </button>
  </div>
</div>
