<div class="container py-5">

  <h1 class="mb-4 text-center">Descubre Nuestros Moños</h1>

  @if(isAdmin$) {

  <div class="d-flex justify-content-end mb-3">

    <button

      routerLink="/formularioProducto"

      routerLinkActive="active"

      class="btn btn-primary"

    >

      Crear Producto

    </button>

  </div>

  }

  <div class="row g-4">

    @for(item of productos; track item; let i = $index) {

    <div class="col-lg-6 col-md-6 col-sm-12 col-12">

      <app-card 
        [title]="item.title" 
        [text]="item.text" 
        [photo]="item.photo" 
        [price]="item.price"
        (onEliminar)="eliminarProducto(item.id)">
      >
      </app-card>

    </div>

    }

  </div>

</div>