<div class="container-fluid">
    <section class="mb-5">
        <h2 class="text-center mb-5">Contacto</h2>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-4 rounded p-3 ">
                <form>
                    <div class="row mt-3 justify-content-between">
                        <div class="col-md-6 col-sm12">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                aria-describedby="ayuda-nombre" aria-label="Inserte su nombre">
                        </div>
                        <div class="col-md-6 col-sm12">
                            <label for="apellidos" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="apellidos" name="apellidos"
                                aria-label="Inserte sus apellidos">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-6-md col-sm12">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email"
                                aria-label="Inserte su email">
                        </div>
                        <div class="col-md-6 col-sm12">
                            <label for="empresa" class="form-label">Empresa</label>
                            <input type="text" class="form-control" id="empresa" name="empresa"
                                aria-label="Inserte su empresa">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4 col-sm12">
                            <label for="poblacion" class="form-label">Población</label>
                            <input type="text" class="form-control" id="poblacion" name="poblacion"
                                aria-label="Inserte su población">
                        </div>
                        <div class="col-md-4 col-sm12">
                            <label for="codigo_postal" class="form-label">Código postal</label>
                            <input type="number" class="form-control" id="codigo_postal" name="codigo_postal"
                                aria-label="Inserte su código postal">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <label for="mensaje" class="form-label">Motivo de contacto</label>
                            <textarea class="form-control" name="mensaje" id="mensaje"
                                aria-label="Área de texto para comentarios"></textarea>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3" aria-label="Enviar formulario">Confirmar</button>
                </form>

            </div>
        </div>
    </section>
</div>